    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    
    body {
        background-color: #21071B;
    }
    
    .mainnavber img {
        height: 54px;
        width: 54px;
    }
    
    .mainnavber {
        height: 94px;
        padding: 20px 0px;
    }
    
    .mainnavber h5 {
        margin-top: 14px;
        color: #D91CAE;
        margin-left: 4px;
        font-size: 20px;
        font-weight: 700;
        font-style: normal;
    }
    
    .section1 .offcanvas {
        background-color: #21071B;
    }
    
    .section1 .btn-close {
        background-color: white;
        padding: 15px;
        font-size: 20px;
        color: #D91CAE;
    }
    
    .section1 {
        height: 94px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .section1 .logo-text {
        margin-top: 15px;
        margin-left: 8px;
        color: #D91CAE;
        font-family: 'Montserrat';
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        /* 24px */
        letter-spacing: 0.4px;
    }
    
    .section1 .buy-now-button {
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        text-transform: uppercase;
        background-color: #D91CAE;
        padding: 16px 30px;
        border-radius: 5px;
    }
    
    .section1 .navbar ul .nav-link {
        font-family: 'Poppins';
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 170%;
        letter-spacing: 0.54px;
        color: #E8E8E8;
        margin-left: 50px;
    }
    
    .section1 .navbar ul .nav-link:hover {
        color: #D91CAE;
    }
    
    .section1 .navbar-toggler {
        padding-top: 10px;
        padding-left: 10px;
        width: 70px;
        height: 55px;
        margin-left: 8px;
        background-color: #fff;
    }
    /* tart secton 2------------------->s */
    
    .section2 {
        margin-top: 94px;
    }
    
    .section2 .text-end {}
    
    .section2 .bannarimg {
        height: 550px;
        width: 580px;
        margin-left: 600px;
        margin: auto;
    }
    
    .section2 .bannar-section {
        display: flex;
    }
    
    .dis .section2 .text-bannar {
        /* margin-right: 55px; */
        width: 95%;
        height: 600px;
        padding: 25px 0px;
    }
    
    .section2 h1 {
        font-family: 'Montserrat';
        font-size: 140px;
        font-style: normal;
        font-weight: 700;
        font-family: monospace;
        /* 168px */
        letter-spacing: 2.8px;
        margin-bottom: 30px;
    }
    
    .section2 p {
        font-family: 'Poppins';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
        /* 30.6px */
        letter-spacing: 0.54px;
        color: #E8E8E8;
        margin-bottom: 30px;
    }
    
    .section2 h4 {
        font-family: 'Poppins';
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 170%;
        letter-spacing: 0.54px;
        color: #fff;
    }
    
    .section2 h5 {
        font-family: 'Poppins';
        font-size: 13px;
        font-style: normal;
        padding: 8px;
        font-weight: 400;
        line-height: 170%;
        /* 30.6px */
        letter-spacing: 0.54px;
        color: #E8E8E8;
        border: 1px rgba(217, 28, 174, 0.50) solid;
        background-color: rgba(217, 28, 174, 0.15);
        border-radius: 5px;
        width: 75%;
        margin-bottom: 55px;
    }
    
    .section2 .copyimg img {
        left: 70%;
        top: 30%;
    }
    
    .section2 button {
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        text-transform: uppercase;
        background-color: #D91CAE;
        padding: 16px 30px;
        border-radius: 5px;
        font-family: 'Poppins';
    }
    
    .section2 .imgicone {
        padding: 10px 28px;
        border: 1px #D91CAE solid;
        border-radius: 5px;
        margin-left: 35px;
    }
    /* section3 start------------------->*/
    
    .section3 h1 {
        font-family: 'Montserrat';
        font-size: 80px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 1.6px;
        color: #fff;
    }
    
    .section3 .barimg {
        margin-bottom: 30px;
    }
    
    .section3 .p {
        font-family: 'Poppins';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
        /* 30.6px */
        letter-spacing: 0.54px;
        color: #E8E8E8;
    }
    
    .section3 .bananr2img {
        height: 550px;
        width: 500px;
    }
    
    .section3 .p1tag {
        margin-bottom: 30px;
    }
    
    .section3 .p2tag {
        margin-bottom: 55px;
    }
    
    .section3 button {
        font-family: 'Poppins';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
        letter-spacing: 0.54px;
        padding: 16px 30px;
        background-color: #D91CAE;
        border-radius: 5px;
        color: #FFF;
    }
    
    .section4 .features {
        margin-bottom: 60px;
    }
    
    .section4 .mt {
        margin-top: 35px;
    }
    
    .section4 .cardsimg {
        width: 120px;
        height: 120px;
        background-color: #D91CAE;
    }
    /* section4 staet--------------->*/
    
    .section4 .card {
        width: 355px;
        height: 460px;
        padding: 30px;
        background-color: #21071B;
        border: 2px solid #D91CAE;
        border-radius: 10px;
        margin-bottom: 60px;
    }
    
    .section4 .card:hover {
        background-color: #D91CAE;
        border: 2px solid #D91CAE;
        transform: all;
        transition: 1s;
    }
    
    .section4 .card:hover+.cardsimg {
        border: 2px solid white;
    }
    
    .section4 .card-title {
        text-align: center;
        font-family: 'Montserrat';
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        color: #fff;
    }
    
    .section4 .card:hover .cardsimg {
        border: 1px solid white;
    }
    
    .section4 .card-text {
        font-family: 'Poppins';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        color: #E8E8E8;
    }
    /* section5 start-------------> */
    
    .section5 h1 {
        font-family: 'Montserrat';
        font-size: 80px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        /* 96px */
        letter-spacing: 1.6px;
        margin-bottom: 15px;
    }
    
    .section5 .lineichone {
        width: 42px;
        height: 42px;
    }
    
    .section5 .line {
        margin-left: 18px;
    }
    
    .section5 .lineber {
        margin-bottom: 30px;
    }
    
    .section5 p {
        margin-left: 15x;
        font-family: 'Poppins';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
        /* 30.6px */
        letter-spacing: 0.;
        color: #E8E8E8;
    }
    
    .section5 .inputsection {
        width: 484px;
        height: 410px;
        border: 10px solid #D91CAE;
        background: white;
        border-radius: 10px;
        margin-left: 70px;
    }
    
    .section5 .setting {
        width: 25px;
        height: 25px
    }
    
    .section5 .d-flex {
        color: gray;
    }
    
    .section5 .dimoneing {
        width: 20px;
        height: 20px;
    }
    
    .section5 .select {
        color: gray;
        font-weight: 700;
        font-family: 'poppins';
    }
    
    .section5 .selects {
        color: white;
        font-weight: 700;
        font-family: 'poppins';
        padding: 10px 10px;
        background-color: #D91CAE;
        border-radius: 30px;
    }
    
    .section5 .selectss {
        color: gray;
        font-family: 'poppins';
        font-weight: 700;
        padding: 5px 22px;
        border-radius: 10px;
    }
    
    .section5 button {
        background-color: #ebdbe7;
        color: #db95cb;
        font-size: 24px;
        border-radius: 10px;
        font-weight: 700;
    }
    
    .section5 .div1,
    .div2 {
        background-color: #f7f4f6;
        padding: 5px;
        border-radius: 10px;
    }
    /* section6 start------------------> */
    
    .section6 {
        margin-top: 160px;
    }
    
    .section6 h1 {
        font-family: 'Montserrat';
        font-size: 80px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        /* 96px */
        letter-spacing: 1.6px;
        color: #FFF;
    }
    
    .section6 .barimg {
        margin-bottom: 60px;
    }
    
    .section6 .position-relative {
        z-index: auto;
    }
    
    .section6 .circle {
        width: 66px;
        height: 66px;
        background: rgba(196, 35, 158, 0.2);
        border-radius: 50%;
        border: 1px solid #D91CAE;
        z-index: 5;
    }
    
    .section6 .triangle-right {
        border-top: 50px solid transparent;
        border-left: 70px solid rgba(217, 28, 174, 0.20);
        border-bottom: 50px solid transparent;
        margin-top: -83px;
        margin-left: 30px;
        z-index: 3;
    }
    
    .section6 .card:hover .circle {
        background-color: #D91CAE;
        transform: all;
        transition: 1s;
    }
    
    .section6 .card:hover .triangle-right {
        border-top: 50px solid transparent;
        border-left: 70px solid #D91CAE;
        border-bottom: 50px solid transparent;
        transform: all;
        transition: 1s;
        z-index: 3
    }
    
    .section6 .card:hover .circle {
        border: 1px solid white;
        z-index: 5
    }
    
    .section6 .card {
        width: 357px;
        height: 636px;
        background-color: #21071B;
        border: 2px solid #D91CAE;
        padding: 40px;
    }
    
    .section6 .smimg {
        height: 18px;
        width: 18px;
    }
    
    .section6 p {
        margin-left: 10px;
        margin-top: -6px;
        font-family: 'Poppins';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
        /* 30.6px */
        letter-spacing: 0.54px;
        color: #E8E8E8;
    }
    /* footer section--------------> */
    
    .footer {
        margin-top: 150px;
    }
    
    .footer .div2,
    .footer .div3 {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    
    .footer .firstdiv {
        margin-left: -90px;
    }
    
    .footer .lestdiv {
        margin-right: -100px;
    }
    
    .footer {
        background-color: #D91CAE;
    }
    
    .footer .pic1 {
        margin-left: 25px;
        margin-top: 25px;
    }
    
    .footer .pic2 {
        margin-left: 30px;
        margin-top: 25px;
    }
    
    .footer .pic3 {
        margin-left: 18px;
        margin-top: 25px;
    }
    
    .footer .div1 {
        margin-left: -500px;
    }
    
    .footer .d-flex {
        height: 180px;
        padding: 40px;
    }
    /* ------------------------------------*/
    
    @media all and (max-width: 767px) {
        .section2 h1 {
            font-size: 75px;
        }
        .section2 p {
            width: 100%
        }
        .section2 .text-bannar {
            margin-left: 20px;
        }
        .section2 h5 {
            width: 80%;
            font-size: 8px;
        }
        .section2 .bannarimg {
            height: 380px;
            width: 340px;
            margin-top: 5px;
            margin-left: -20px;
        }
        .section3 .bananr2img {
            height: 400px;
            width: 360px;
        }
        .section3 h1 {
            font-size: 40px;
        }
        .section3 .gap {
            margin-left: 20px;
        }
        .section3 .p {
            font-size: 14px;
        }
        .section3 button {
            font-size: 14px;
            padding: 10px 25px;
        }
        .section .section5 {
            margin-left: 50px;
        }
        .section5 h1 {
            font-size: 40px;
        }
        .section6 h1 {
            font-size: 40px;
        }
        .footer {
            margin-top: 80px;
        }
        .footer .lestdiv {
            margin-right: 0px;
        }
        .section6 .card {
            margin-left: 30px;
        }
        .footer {
            margin-top: 80px;
            background-color: #D91CAE;
            margin-left: 20px;
            width: 100%;
        }
        .footer .div1,
        .footer .div2,
        .footer .div3 {
            width: 80px;
            height: 80px;
        }
        .footer .lestdiv {
            margin-left: 1px;
        }
        .footer .d-flex {
            height: 100px;
            padding: 20px;
        }
        .footer .pic1,
        .footer .pic3 {
            margin-left: 15px;
            margin-top: 18px;
        }
        .footer .pic2 {
            margin-left: 20px;
            margin-top: 18px;
        }
    }