* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #21071B;
}


/* navbar section----------------->*/

.header {
    width: 1520px;
}

.mainnavber img {
    height: 54px;
    width: 54px;
}

.mainnavber {
    height: 94px;
    padding: 20px 0px;
}

.mainnavber h5 {
    margin-top: 14px;
    color: #D91CAE;
    margin-left: 4px;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
}

.mainnavber button {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    text-transform: uppercase;
    background-color: #D91CAE;
    padding: 16px 30px;
    border-radius: 5px;
}


/* tart secton 2------------------->s */

.section2 {
    margin-top: 94px;
}


/* .section2 .navbar {
    width: 1520px;
} */

.section2 .bannarimg {
    height: 550px;
    max-width: 600px;
    margin-left: 600px;
    margin: auto;
}

.section2 .bannar-section {
    display: flex;
}

dis .section2 .text-bannar {
    /* margin-right: 55px; */
    width: 95%;
    height: 600px;
    padding: 25px 0px;
}

.section2 h1 {
    font-family: 'Montserrat';
    font-size: 140px;
    font-style: normal;
    font-weight: 700;
    font-family: monospace;
    /* 168px */
    letter-spacing: 2.8px;
    margin-bottom: 30px;
}

.section2 p {
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    /* 30.6px */
    letter-spacing: 0.54px;
    color: #E8E8E8;
    margin-bottom: 30px;
}

.section2 h4 {
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 170%;
    letter-spacing: 0.54px;
    color: #fff;
}

.section2 h5 {
    font-family: 'Poppins';
    font-size: 13px;
    font-style: normal;
    padding: 8px;
    font-weight: 400;
    line-height: 170%;
    /* 30.6px */
    letter-spacing: 0.54px;
    color: #E8E8E8;
    border: 1px rgba(217, 28, 174, 0.50) solid;
    background-color: rgba(217, 28, 174, 0.15);
    border-radius: 5px;
    width: 75%;
    margin-bottom: 55px;
}

.section2 .copyimg img {
    left: 70%;
    top: 30%;
}

.section2 button {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    text-transform: uppercase;
    background-color: #D91CAE;
    padding: 16px 30px;
    border-radius: 5px;
    font-family: 'Poppins';
}

.section2 .imgicone {
    padding: 10px 28px;
    border: 1px #D91CAE solid;
    border-radius: 5px;
    margin-left: 35px;
}


/* section3 start------------------->*/

.section3 h1 {
    font-family: 'Montserrat';
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 1.6px;
    color: #fff;
}

.section3 .barimg {
    margin-bottom: 30px;
}

.section3 .p {
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    /* 30.6px */
    letter-spacing: 0.54px;
    color: #E8E8E8;
}

.section3 .bananr2img {
    height: 500px;
    max-width: 600px;
    margin-left: 600px;
    margin: auto;
}

.section3 .p1tag {
    margin-bottom: 30px;
}

.section3 .p2tag {
    margin-bottom: 55px;
}

.section3 button {
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    letter-spacing: 0.54px;
    padding: 16px 30px;
    background-color: #D91CAE;
    border-radius: 5px;
}

.section4 .features {
    margin-bottom: 60px;
}

.section4 .cardsimg {
    width: 120px;
    height: 120px;
    background-color: #D91CAE;
}

.section4 .card {
    width: 355px;
    height: 460px;
    padding: 30px;
    background-color: #21071B;
    border: 2px solid #D91CAE;
    border-radius: 10px;
    margin-bottom: 60px;
}

.section4 .card:hover {
    background-color: #D91CAE;
    border: 2px solid #D91CAE;
    transform: all;
    transition: 1s;
}

.section4 .card:hover+.cardsimg {
    border: 2px solid white;
}

.section4 .card-title {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    color: #fff;
}

.section4 .card-text {
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: #E8E8E8;
}


/* ------------------------------------*/

@media all and (max-width: 767px) {
    .section2 h1 {
        font-size: 75px;
    }
    .section2 p {
        width: 100%
    }
    .section2 h5 {
        width: 100%;
        font-size: 14px;
    }
    .section2 .bannarimg {
        height: 400px;
        width: 400px;
        margin-top: 10px;
    }
    .section2 .copyimg img {
        width: 10;
        right: 0px;
    }
}